{% extends 'base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}

<div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title">Products</h1><br>
          </div>
        </div>
                

        <div id="app" class="row columns is-multiline">
            {% for product in products %}
          <div v-for="card in cardData" key="card.id" class="column is-4">
              
            <div class="card large">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img src="{{ product.thumbnail }}" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">

                  </div>
                  <div class="media-content">
                    <p class="title is-4 no-padding">{{ product.title }}</p>
                    <p>
                      <span class="title is-6">
                         ${{ product.price }} </a> </span> </p>
                   <a href="{% url 'product_detail' product.category.slug product.slug %}" class="card-footer-item"> View </a>
                  </div>
                </div>
                <div class="content">
                  {{card.content}}
                  <div class="background-icon"><span class="icon-twitter"></span></div>
                </div>
              </div>
            </div>
           
          </div>
           {% endfor %}
        </div>
        
      </div>
    </div>
    {% endblock %}